name: Fly Deploy
on:
  push:
    branches:
      - main # Or your default branch

jobs:
  test_and_deploy:
    name: Test and Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          
      - name: Install dependencies
        run: npm ci

      - name: Run backend tests
        run: npm run test:backend

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run frontend tests
        run: npm run test:e2e
        
      - name: Setup Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master
        
      - name: Deploy to Fly.io
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
